<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= Jbuilder.encode do |json|
      json.extract! current_user, :id, :email
      json.profiles do
        current_user.profiles.each do |profile|
          json.set! profile.id do
            json.extract! profile, :id, :name
          end
        end
      end
    end.html_safe %>
  </script>
<% end %>

<div id="root">
</div>