


.splash-main {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 5), rgba(0, 0, 0, 0) 60%),
        linear-gradient(to top, rgb(216, 42, 42), rgba(0, 0, 0, 0) 60%)
    
}

.splash-main {
    min-height: 85vh;
    border-bottom: 8px solid rgb(66, 66, 66);
}

.splash-header, .login-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}
