<!DOCTYPE html>
<html>
  <head>
    <title>AuteurFlix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%# CSS is built by webpack alongside bundle.js — bypasses Sprockets entirely %>
    <link rel="stylesheet" href="/application.css" media="all">
    <script src="/bundle.js" defer></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
