<!DOCTYPE html>
<html>
  <head>
    <title>AuteurFlix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# All assets bypass Sprockets and load as plain static files: %>
    <%# - /favicon.ico is in public/ %>
    <%# - /application.css and /bundle.js are emitted by webpack into public/ %>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=DM+Sans:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/application.css" media="all">
    <script src="/bundle.js" defer></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
